@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-lg-1 col-xs-1"></div>
    <div class="col-lg-6 col-xs-6" align="center">
        <h2>تلفن ها</h2>
    </div>
    <div class="col-lg-5 col-xs-5"></div>
</div>

<div class="row">
    <div class="col-lg-1 col-xs-1"></div>
    <div class="col-lg-10 col-xs-10">
        <table id="tableOfProvinces" class="table table-bordered table-hover table-striped table-fit-to-content" dir="rtl">
            <thead>
            <tr class="bg-success text-primary">
                @*                    <th class="text-center">ردیف</th>*@
                <th class="text-center">شاخص منطقه</th>
                <th class="text-center">نام منطقه</th>
                <th class="text-center">شهر</th>
                <th class="text-center">آدرس</th>
                <th class="text-center">ایمیل منطقه</th>
                <th class="text-center">پیش شماره تلفن</th>
                <th class="text-center">ویرایش</th>
                <th class="text-center">حذف</th>
            </tr>
            </thead>

            <tbody></tbody>

        </table>
    </div>
    <div class="col-lg-1 col-xs-1"></div>
</div>

